

<h2><%= @flat.name %></h2>
<h5>Address: <%= @flat.address %></h5>
<h5>Description: <%= @flat.description %></h5>
<h5>Phone: <%= @flat.price_per_night %></h5>
<h5>Category: <%= @flat.number_of_guests %></h5>


<%= link_to "back to flats", flats_path %>

