<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <a>Simple Airbnb</a>
    <div>
      <a> <%= link_to "Add Flat", new_flat_path %></a>
    </div>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
